.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
  background-color: #282c34;
  width: 500px;
  height: 500px;
  margin: 100px auto;
}


ul {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}